[Unit]
Description=robot-gateway
After=network.target

[Service]
EnvironmentFile=/etc/default/robot-gateway
ExecStart=/usr/bin/env /usr/bin/python3 /opt/robotgateway/kochcloud-of-things/robot-gateway/robotgateway.py
WorkingDirectory=/opt/robotgateway/kochcloud-of-things/robot-gateway
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=robotgateway

[Install]
WantedBy=multi-user.target
